.calc-btn {
    height: 85px;
    font-size: 24px;
}
.btn-primary {
    background-color: #417db1;
    color: #ffffff;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.btn-primary:hover {background-color: #625858}

.btn-primary:active {
    background-color: #ececec;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.btn-danger
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.btn-danger:hover {background-color: #f60000}

.btn-danger:active {
    background-color: #ececec;
    box-shadow: 0 5px #fc5151;
    transform: translateY(4px);
}
.btn-success
{
    background-color: #49813c;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.btn-success:hover {background-color: #165f06}
.btn-success:active {
    background-color: #ececec;
    box-shadow: 0 5px #12ff01;
    transform: translateY(4px);
}
.btn-dark
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.btn-dark:hover {background-color: #000000}
.btn-dark:active {
    background-color: #ececec;
    box-shadow: 0 5px #000000;
    transform: translateY(4px);
}
.top-o
{
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 55px;
    border: 50px #000000;
    background-color: #222020;
}
.form-control{
    height: 75px;
    font-size: 150%;
    background-color: #999;
    color: #000000;
}